<div class="form-style">
  <form [formGroup]="form" novalidate>
    <div>
      <div class="form-group group-style">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" formControlName="name" required/>
      </div>
      <div class="form-group group-style">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" id="weight" name="weight" formControlName="weight" required/>
      </div>
      <div class="form-group group-style">
        <label for="width">Width</label>
        <input type="number" class="form-control" id="width" name="width" formControlName="width" required/>
      </div>
      <div class="form-group group-style">
        <label for="length">Length</label>
        <input type="number" class="form-control" id="length" name="length" formControlName="length" required/>
      </div>
    </div>
    <div>
      <div class="form-group group-style">
        <label for="height">Height</label>
        <input type="number" class="form-control" id="height" name="height" formControlName="height" required/>
      </div>
      <div class="form-group group-style">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" formControlName="location" required/>
      </div>
      <div class="form-group group-style">
        <label for="transportationCost">Transportation cost</label>
        <input type="number" class="form-control" id="transportationCost" name="transportationCost"
               formControlName="transportationCost" required/>
      </div>
      <div *ngIf="getTransportationCostControl().invalid && (getTransportationCostControl().touched)"
           class="alert alert-danger">
      </div>
    </div>
    <div>
      <div *ngIf="getAllControl(); then thenBlock else elseBlock"></div>
      <ng-template #thenBlock class="btn-class">
        <button class="btn btn-color" type="button" disabled>Update</button>
      </ng-template>
      <ng-template #elseBlock>
        <div (click)="saveCargo()" class="btn-class">
          <button class="btn btn-color" type="button">Update</button>
        </div>
      </ng-template>
      <div (click)="goBack()" class="btn-class">
        <button class="btn btn-color" type="button">Back</button>
      </div>
    </div>
  </form>
</div>
