<div class="form-style">
  <form [formGroup]="form" novalidate>
    <div>
      <div class="form-group group-style">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="name is required" required pattern="^[a-zA-Z]{3,}$">
<!--        <div *ngIf="getNameControl().invalid && (getNameControl().touched)"-->
<!--             class="alert alert-danger">-->
<!--          <div *ngIf="getNameControl().errors.required">-->
<!--            Name is required.-->
<!--          </div>-->
<!--          <div *ngIf="getNameControl().errors.minLength">-->
<!--            Name must be at least 4 characters long.-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div class="form-group group-style">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" id="weight" name="weight" formControlName="weight" required pattern="[1-9]\d*">
<!--        <div *ngIf="getWeightControl().invalid && (getWeightControl().touched)"-->
<!--             class="alert alert-danger">-->
<!--          <div *ngIf="getWeightControl().errors.required">-->
<!--            Weight is required.-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div class="form-group group-style">
        <label for="width">Width</label>
        <input type="number" class="form-control" id="width" name="width" formControlName="width" required pattern="[1-9]\d*">
<!--        <div *ngIf="getWidthControl().invalid && (getWidthControl().touched)"-->
<!--             class="alert alert-danger">-->
<!--          <div *ngIf="getWidthControl().errors.required">-->
<!--            Width is required.-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div class="form-group group-style">
        <label for="length">Length</label>
        <input type="number" class="form-control" id="length" name="length" formControlName="length" required pattern="[1-9]\d*">
<!--        <div *ngIf="getLengthControl().invalid && (getLengthControl().touched)"-->
<!--             class="alert alert-danger">-->
<!--          <div *ngIf="getLengthControl().errors.required">-->
<!--            Length is required.-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <div>
      <div class="form-group group-style">
        <label for="height">Height</label>
        <input type="number" class="form-control" id="height" name="height" formControlName="height" required pattern="[1-9]\d*">
<!--        <div *ngIf="getHeightControl().invalid && (getHeightControl().touched)"-->
<!--             class="alert alert-danger">-->
<!--          <div *ngIf="getHeightControl().errors.required">-->
<!--            Height is required.-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div class="form-group group-style">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" formControlName="location" placeholder="location is required" required pattern="^[a-zA-Z]{3,}$">
<!--        <div *ngIf="getLocationControl().invalid && (getLocationControl().touched)"-->
<!--             class="alert alert-danger">-->
<!--          <div *ngIf="getLocationControl().errors.required">-->
<!--            Location is required.-->
<!--          </div>-->
<!--          <div *ngIf="getLocationControl().errors.minLength">-->
<!--            Location must be at least 4 characters long.-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div class="form-group group-style">
        <label for="transportationCost">Transportation cost</label>
        <input type="number" class="form-control" id="transportationCost" name="transportationCost"
               formControlName="transportationCost" required pattern="[1-9]\d*">
<!--        <div *ngIf="getTransportationCostControl().invalid && (getTransportationCostControl().touched)"-->
<!--             class="alert alert-danger">-->
<!--          <div *ngIf="getTransportationCostControl().errors.required">-->
<!--            Transportation cost is required.-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <div>
      <div (click)="saveCargo()" class="btn-class">
        <button class="btn btn-color" type="button">Add</button>
      </div>
      <div (click)="goBack()" class="btn-class">
        <button class="btn btn-color" type="button">Back</button>
      </div>
    </div>
  </form>
</div>
