<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Weight</th>
      <th scope="col">Width</th>
      <th scope="col">Length</th>
      <th scope="col">Height</th>
      <th scope="col">Location</th>
      <th scope="col">Transportation cost</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cargo of cargos">
      <td>
        <button type="button" (click)="addToCart(cargo)">Add to cart</button>
      </td>
      <td><a routerLink="">{{cargo.id}}</a></td>
      <td>{{ cargo.name }}</td>
      <td>{{ cargo.weight}}</td>
      <td>{{ cargo.width}}</td>
      <td>{{ cargo.length}}</td>
      <td>{{ cargo.height}}</td>
      <td>{{ cargo.location}}</td>
      <td>{{ cargo.transportationCost}}</td>
      <td>
        <div *ngIf="cargo.isPaid;else notPaid">
          <p style="color: green">Paid</p>
        </div>
        <ng-template #notPaid>
          <p style="color:red">Not paid</p>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
  <hr>
  <ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let p of pages; let i=index">
      <a class="nav-link" href="#" (click)="setPageNumber(i,$event)" [ngClass]="{'active':i==pageNumber}">{{i + 1}}</a>
    </li>
  </ul>
</div>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Cities</th>
    </tr>
    </thead>
    <tr *ngFor="let city of cities">
      <td>{{city.name}}</td>
    </tr>
  </table>
  <form [formGroup]="form" novalidate>
    <div class="form-group">
      <label for="location">Current city</label>
      <input type="text" class="form-control" id="location" name="location" formControlName="location" required/>
    </div>
    <div *ngIf="getLocationControl().invalid && (getLocationControl().touched)"
         class="alert alert-danger">
      <div *ngIf="getLocationControl().errors.required">
        Current city is required.
      </div>
      <div *ngIf="getLocationControl().errors.minLength">
        Current city must be at least 4 characters long.
      </div>
    </div>
    <div class="form-group">
      <label for="car">Car</label>
      <input type="text" class="form-control" id="car" name="car" formControlName="car" required/>
    </div>
    <div *ngIf="getCarControl().invalid && (getCarControl().touched)"
         class="alert alert-danger">
      <div *ngIf="getCarControl().errors.required">
        Field is required.
      </div>
      <div *ngIf="getCarControl().errors.minLength">
        Filed must be at least 4 characters long.
      </div>
    </div>
    <div class="form-group" (click)="createTrip()">
      <button class="btn btn-outline-dark" type="button">Create</button>
    </div>
  </form>
</div>
