<body class="text-center">
<div *ngIf="isLoggedIn; else loggedOut">
  <div [ngSwitch]="user.role" class="nav-tabs">
    <ng-template ngSwitchCase="MANAGER"><app-manager></app-manager></ng-template>
    <ng-template ngSwitchCase="TRANSPORTER"><app-transporter></app-transporter></ng-template>
    <ng-template ngSwitchDefault><app-cargo-owner></app-cargo-owner></ng-template>
  </div>
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6 form-class form-text-class">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="form-class">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="form.username"
               #username="ngModel"
               required/>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password"
               #password="ngModel"
               required minlength="6"/>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-color">Login</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
        <a href="signup" class="btn btn-color">Sign Up</a>
      </div>
    </form>
  </div>
</ng-template>
