.h1, h1 {
  font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
.nice-navbar {
  background-color: #0d1316;
}
.nb-right {
  position: absolute;
  top: 5px;
  right: 10px;
}
.nice-footer {
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 30px; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background-color: #0d1316;
  height: 40px;
  width: 100%; /* Ширина слоя */
  color: #e8b000;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

 *, ::after, ::before {
  box-sizing: border-box;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #0d1316;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: #feca00;
}
a:hover {
  color: #ffec9b;
}
*, ::after, ::before {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
