<div class="container">

  <div class="card">
    <div class="card-header">
      Cargo
    </div>
    <div class="card-body">
      <h5 class="card-title">{{cargo.name}}</h5>
      <p class="card-text">{{cargo.weight}}</p>
      <p class="card-text">{{cargo.width}}</p>
      <p class="card-text">{{cargo.length}}</p>
      <p class="card-text">{{cargo.height}}</p>
      <p class="card-text">{{cargo.location}}</p>
      <p class="card-text">{{cargo.transportationCost}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
