<div class="card scrollbar" id="scrollArea">
  <img src="/assets/images/cart-img-top.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Edit trip</h5>
    <form [formGroup]="form" novalidate>
      <p class="card-text">Current cit: {{trip.currentCity}}</p>
      <p class="card-text">Car: {{trip.car}}</p>
      <p class="card-text">Trip condition: {{trip.tripCondition}}</p>
      <div *ngIf="trip.isPaid;else notPaid">
        <p style="color: green">Status: Paid</p>
      </div>
      <ng-template #notPaid>
        <p style="color: red">Status: Not paid</p>
      </ng-template>
      <div class="scrollbar" id="cityScroll">
      <ul *ngFor="let city of trip.cities">
        <p>Departure city: {{city.name}}</p>
      </ul>
      </div>
      <div class="form-group">
        <label for="location">Update current city</label>
        <input type="text" class="form-control" id="location" name="location" formControlName="location" required/>
      </div>
      <div>
        <div *ngIf="getLocationControl().invalid; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock class="btn-class">
          <button class="btn btn-color" type="button" disabled>Update</button>
        </ng-template>
        <ng-template #elseBlock>
          <div (click)="editTrip()" class="btn-class">
            <button class="btn btn-color" type="button">Update</button>
          </div>
        </ng-template>
        <div (click)="goBack()" class="btn-class">
          <button class="btn btn-color" type="button">Back</button>
        </div>
      </div>
    </form>
  </div>
</div>
