<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname}}</td>
      <td>{{ user.email}}</td>
      <td>{{ user.role}}</td>
      <td>
        <div *ngIf="user.isBlock;else notBlocked">
          <p style="color: red">Blocked </p>
        </div>
        <ng-template #notBlocked>
          <p style="color: green">Not blocked</p>
        </ng-template>
      <td>
      <div *ngIf="!user.isBlock;else unblock">
        <button (click)="blockUser(user.id)" class="btn btn-color">Block</button>
      </div>
      <ng-template #unblock>
        <button (click)="unblockUser(user.id)" class="btn btn-color">Unblock</button>
      </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
  <ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let p of pages; let i=index">
      <a class="nav-link" href="#" (click)="setPageNumber(i,$event)" [ngClass]="{'active':i==pageNumber}">{{i + 1}}</a>
    </li>
  </ul>
</div>
