<div *ngIf="cargos.length === 0; else cargoList">
  <p>Oooops! Cargo list is empty</p>
</div>
<ng-template #cargoList>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Weight</th>
        <th scope="col">Width</th>
        <th scope="col">Length</th>
        <th scope="col">Height</th>
        <th scope="col">Departure city</th>
        <th scope="col">Status</th>
        <th scope="col">Transportation cost</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cargo of cargos">
        <td><a routerLink="/cargo/{{cargo.id}}">{{cargo.id}}</a></td>
        <td>{{ cargo.name }}</td>
        <td>{{ cargo.weight}}</td>
        <td>{{ cargo.width}}</td>
        <td>{{ cargo.length}}</td>
        <td>{{ cargo.height}}</td>
        <td>{{ cargo.location}}</td>
        <td>{{ cargo.cargoCondition}}</td>
        <td>{{ cargo.transportationCost}}</td>
        <td>
          <div *ngIf="cargo.isPaid;else notPaid">
            <p style="color: green">Paid</p>
          </div>
          <ng-template #notPaid>
            <div>
              <button (click)="markAsPaid(cargo)" class="btn btn-color">Paid</button>
            </div>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let p of pages; let i=index">
        <a class="nav-link" href="#" (click)="setPageNumber(i,$event)"
           [ngClass]="{'active':i==pageNumber}">{{i + 1}}</a>
      </li>
    </ul>
  </div>
</ng-template>
