<div *ngIf="trips.length === 0; else templateList">
  <p>Oooops! Trip list is empty</p>
</div>
<ng-template #templateList>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Current city</th>
        <th scope="col">Car</th>
        <th scope="col">Paid</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let trip of trips">
        <td><a routerLink="/trip/{{trip.id}}">{{trip.id}}</a></td>
        <td>{{ trip.currentCity }}</td>
        <td>{{ trip.car}}</td>
        <td>
          <div *ngIf="trip.isPaid;else notPaid">
            <p style="color: green">Paid</p>
          </div>
          <ng-template #notPaid>
            <div>
              <button (click)="markTripAsPaid(trip)" class="btn btn-color">Mark as paid</button>
            </div>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
    <hr>
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let p of pages; let i=index">
        <a class="nav-link" href="#" (click)="setPageNumber(i,$event)"
           [ngClass]="{'active':i==pageNumber}">{{i + 1}}</a>
      </li>
    </ul>
  </div>
</ng-template>
